<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div class="card" th:fragment="post (Post)">
  <div class="card-body">
    <div class="row g-0">
      <div th:replace="components/vote :: vote (${Post})"></div>
      <div class="col ps-3">
        <p class="card-text" th:text="${Post.body}"></p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="card-text">
      Posted by
      <a
          class="card-link link-info"
          href="http://localhost:8080"
          th:text="${Post.author.firstName}"
      ></a>
    </p>
  </div>
</div>
</html>
