<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <div
      class="d-flex flex-column"
      style="width: 40px"
      th:fragment="vote (Post)"
  >
    <button class="btn p-0 upvote" th:classappend="${Post.viewerVote == 1} ? 'text-success'">
      <svg height="36" width="36">
        <path d="M2 25h32L18 9 2 25Z" fill="currentColor"></path>
      </svg>
    </button>
    <span class="text-center score" th:text="${Post.score}"></span>
    <button class="btn p-0 downvote" onclick="vote()" th:classappend="${Post.viewerVote == -1} ? 'text-danger'">
      <svg height="36" width="36">
        <path d="M2 11h32L18 27 2 11Z" fill="currentColor" />
      </svg>
    </button>
  </div>
</html>
