* {
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 1000px;
    margin: auto;
}
.flex-container1 {
    display: flex;
    justify-content: space-between;
    background-color: DodgerBlue;
}

#questions {
    margin: 10px 0;
    border-bottom: 1px solid black;
    padding: 10px 0;
    cursor: pointer;
}
.questionUser {
    border-right: 1px solid gray;
}

.questionView {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}


