<!DOCTYPE html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        function makeAuthentication() {
            /*<![CDATA[*/
            var user = /*[[${user}]]*/ 'default';
            var authentication = /*[[${authentication}]]*/ 'default';
            /*]]>*/

            var session = {
                userId: user.user_id,
                email: user.email,
                authenticationId: authentication
            }

            localStorage.setItem("session", JSON.stringify(session));
            window.location.href = "/"
        }
    </script>
</head>

<body onload="makeAuthentication()">

</body>

</html>