<!DOCTYPE html>
<html
    lang="pt-br"
    th:include="fragments/model :: model"
    xmlns:th="http://www.thymeleaf.org"
>
<main th:fragment="content">
  <h1 class="my-4">Qual sua dúvida?</h1>
  <div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-dark" href="question/new">Faça uma pergunta</a>
  </div>
  <section>
    <div
        class="d-flex justify-content-between border-bottom border-dark border-opacity-25 py-3 m-0"
        id="questions"
        th:each="list : ${questions}"
    >
      <div class="d-flex align-items-center">
        <div
            class="border rounded p-1 text-center"
            style="width: 60px; height: 60px"
        >
          <p
              class="m-0"
              style="font-size: 22px; height: 30px"
              th:text="${list.score}"
          ></p>
          <p
              class="m-0"
              style="font-size: 11px"
              th:text="${list.score == 1} ? 'voto':'votos'"
          ></p>
        </div>
        <div
            class="border rounded p-1 text-center mx-2"
            style="width: 60px !important; height: 60px"
            th:classappend="${list.correct_answear_id != null} ? 'verde'"
        >
          <p
              class="m-0"
              style="font-size: 22px; height: 30px"
              th:text="${list.answearCount}"
          ></p>
          <p
              class="m-0"
              style="font-size: 11px"
              th:text="${list.correct_answear_id >= 2} ? 'respostas':'resposta'"
          ></p>
        </div>
        <div
            class="border rounded p-1 text-center"
            style="width: 60px; height: 60px"
        >
          <p
              class="m-0"
              style="font-size: 22px; height: 30px"
              th:text="${list.viewCount}"
          ></p>
          <p
              class="m-0"
              style="font-size: 11px"
              th:text="${list.viewCount >= 2} ? 'visitas':'visita'"
          ></p>
        </div>
      </div>
      <div class="px-3" style="width: 545px">
        <a
            class="text-start text-primary text-opacity-75 m-0 my-2"
            th:href="@{'/question/'+${list.question_id}}"
            th:text="${list.title}"
        ></a>
      </div>
      <div
          class="d-flex justify-content-end align-items-end"
          style="width: 255px"
      >
        <div class="text-muted" style="font-size: 12px">
          pergunta há
          <span th:text="${list.differenceBetweenDates}"></span> atrás por
          <a
              th:href="@{'/user/'+${list.author.user_id}}"
              th:text="${list.author.firstName}"
          ></a>
        </div>
      </div>
    </div>
  </section>
</main>
</html>
