<!DOCTYPE html>
<html lang="pt-br" th:include="fragments/model :: model">
<body>
  <main th:fragment="content">
    <form action="/questioNew" method="post" th:object="${question}">
      <label class="form-label mt-3">Titulo:</label>
      <input type="text" class="form-control" th:field="*{title}" required>
      <label class="form-label mt-3" >Pergunta:</label>
      <textarea class="form-control" name="" id="exampleFormControlTextarea1" cols="30" rows="10" th:field="*{question_description}" required></textarea>
      <input type="submit" value="Enviar" class="btn btn-primary mt-3">
    </form>
  </main>
</body>
</html>