<!DOCTYPE html>
<html
    lang="pt-br"
    th:include="fragments/model :: model"
    xmlns:th="http://www.thymeleaf.org"
>
<main th:fragment="content">
  <form action="/question/new" method="post" th:object="${question}">
    <input th:field="*{author.user_id}" type="hidden" />
    <label class="form-label mt-3">Titulo:</label>
    <input class="form-control" required th:field="*{title}" type="text" />

    <label class="form-label mt-3">Pergunta:</label>
    <textarea id="mytextarea" th:field="*{body}"></textarea>

    <input class="btn btn-primary mt-3" type="submit" value="Enviar" />
  </form>
</main>
</html>
